.settings-screen {
    margin-top:100px;
}



.settings__setting__column {
    border-bottom: 1px solid rgba(0,0,0,0.3);
    padding:20px 0px;
    font-weight: 600;
    font-size: 17px;
}

.settings__setting__column i {
    margin-right:5px;
}